alembic==0.8.2
appnope==0.1.0
decorator==4.0.4
docutils==0.12
Flask==0.10.1
Flask-Script==2.0.5
futures==2.2.0
gnureadline==6.3.3
gunicorn==19.3.0
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jmespath==0.8.0
Mako==1.0.2
MarkupSafe==0.23
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
python-dateutil==2.4.2
python-editor==0.4
redis==2.10.3
simplegeneric==0.8.1
simplejson==3.8.0
six==1.9.0
traitlets==4.0.0
Werkzeug==0.10.4
