<!doctype html>
<html>
<head>
  <title>Clashes over time</title>
 <script src="/static/d3.min.js"></script>
 <script src="/static/dimple.v2.1.6.min.js"></script>
 <script src="/static/jquery-1.11.3.min.js"></script>
</head>

<body>
  <center>
    <div id="content" style="max-width:800px">
      <h2> <p id="description"> Summary of clashes over time </p> </h2>

<!-- uncomment this to do testing -->
<!-- div id="data_url" hidden="true">/static/test-data.json</div-->
<div id="data_url" hidden="true">{{ data_url }}</div>


      <div id="filter" align="left"> Group clashes by: <select id="grouping"></select> </div>
      <div id="plot"></div>
    </div>

  </center>
  <script src="/static/clash-summary-over-time.js"></script>
</body>

</html>
