<!doctype html>
<html>
<head>
  <title>Clashes over time</title>
 <script src="/static/d3.min.js"></script>
 <script src="/static/dimple.v2.1.6.min.js"></script>
 <script src="/static/jquery-1.11.3.min.js"></script>
</head>

<body><p id="description"> High-level, day-over-day clashes over time.</p>

<!-- uncomment this to do testing -->
<!-- div id="data_url" hidden="true">/static/test-data.json</div-->
<div id="data_url" hidden="true">{{ data_url }}</div>


<select id="grouping"></select>
<div id="plot"></div>

<script src="/static/clash-summary-over-time.js"></script>
</body>

</html>
