<!doctype html>
<html>
<head>
  <title>Clashes over time</title>
 <script src="/static/d3.min.js"></script>
 <script src="/static/dimple.v2.1.6.min.js"></script>
 <script src="/static/jquery-1.11.3.min.js"></script>
</head>

<body>
  <center>
    <div id="content" style="max-width:800px">
      <h2> <div id="description"> Summary of clashes over time</div></h2>
      <h3>Current project: {{ projectname }}</h3>


<div id="current_project" hidden="true">{{  projectname }}</div>

<!-- uncomment this to do testing -->
<!-- div id="data_url" hidden="true">/static/test-data.json</div-->
<div id="data_url" hidden="true">{{ data_url }}</div>



       <div id="filter1" align="left">Select project: <select id="projects"></select></div>
      <div id="filter" align="left"> Group clashes by: <select id="grouping"></select> </div>
      <div id="plot"></div>
    </div>


   <script src="/static/clash-summary-over-time.js"></script>
   <script src="/static/get_project_list.js"></script>
  </center>

</body>

</html>
