<!doctype html>
<html lang="en">
<head>
  <title>Hello from Flask</title>
  <script src="{{ url_for('static', filename='d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dimple.v2.1.6.min.js') }}"></script>
</head>
<body>

{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
	<h1>Hello World!</h1>
{% endif %}

<script type="text/javascript">
    var svg = dimple.newSvg("body", 800, 600);
    var data = [
      { "Word":"Hello", "Awesomeness":2000 },
      { "Word":"World", "Awesomeness":3000 }
    ];
    var chart = new dimple.chart(svg, data);
    chart.addCategoryAxis("x", "Word");
    chart.addMeasureAxis("y", "Awesomeness");
    chart.addSeries(null, dimple.plot.bar);
    chart.draw();
  </script>

</body>
